
account default

# SMTP Server Details (Use an external service like Gmail/SendGrid/Mailgun)
host ${SMTP_HOST}
port ${SMTP_PORT}

# Authentication
auth on
user ${SMTP_USER}
password ${SMTP_PASS}

# Encryption (TLS/SSL)
tls on
tls_certcheck off

# Sender address to use when PHP doesn't specify one
from ${SMTP_FROM}
logfile /var/log/msmtp.log